/* styles.css */

h1 {
    color: #333;
}

table {
    width: 100%;
    margin-right: 50px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #8a8ae3; /* Light purple background for table header */
    color: white;
}

tr:nth-child(even) {
    background-color: #ebe9e9f5;
}
tr:nth-child(odd){
    background-color: #f9f9f9f9;
}

form {
    margin-top: 20px;
}

button {
    background-color: #8a8ae3; /* Light purple button background */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #6c6cc7; /* Slightly darker purple on hover */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Navigation bar styles */
nav {
    background-color: #8a8ae3; /* Light purple navigation bar */
    overflow: hidden;
    border-radius: 5px;
    margin-right: 30px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #6c6cc7; /* Slightly darker purple on hover */
}
