<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'firewall_app/styles.css' %}">
    <title>Home</title>
</head>
<body>

<!-- Navigation bar -->
<nav>
    <a href="{% url 'firewall_rules' %}">Firewall Rules</a>
    <a href="{% url 'firewall_logs' %}">Firewall Logs</a>
</nav>

<!-- Content for the homepage -->
<h1>Welcome to the Firewall protected App</h1>
<p>This is the homepage.</p>

</body>
</html>
